<%= turbo_frame_tag "new_product" do %>
  <%= form_with(model: @product, local: true) do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name, value: "Product1" %>
    </div>
    <div>
      <%= form.label :purchase_date %>
      <%= form.date_field :purchase_date, value: Date.today %>
    </div>
    <div>
      <%= form.label :store_section_id %>
      <%= form.select :store_section_id, options_for_select(StoreSection.all.map { |section| [section.name, section.id] }, StoreSection.last.id) %>
    </div>
    <div>
      <%= form.label :purchased %>
      <%= form.check_box :purchased, checked: false %>
    </div>
    <div>
      <%= form.label :quantity %>
      <%= form.number_field :quantity %>
    </div>
    <div>
      <%= form.submit "Add Product" %>
    </div>
  <% end %>


<% end %>


